/.bashrc
/.config
/.env
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.nv
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/Notes.txt
/.condarc
/.gitconfig
/.hushlogin
/.docker
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful